torch==1.5.0
torchvision==0.6.0
prefetch_generator==1.0.1
scipy==1.4.1
opencv-python==4.2.0.34
matplotlib==3.2.1
imgaug==0.4.0
pandas==1.0.4
seaborn==0.10.1
scikit-learn==0.23.1
apex==0.1
tensorboard==2.2.2
git+https://github.com/szagoruyko/pytorchviz
